@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
        <div class="hero-content">
            <h1>We Help to Grow Your Business</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id urna felis. Phasellus eget lacus ut ligula pretium vestibulum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="hero-buttons">
                <a href="#" class="btn btn-primary">Discover Now</a>
                <a href="#" class="btn btn-secondary">Contact Us</a>
            </div>
        </div>
</div> 

<section class="professional-services">
    <h3>Professional Services</h3>
    <h1>Grow Your Audience</h1>
    <div class="cards-container">
        <div class="card">
            <div class="card-icon">
                <img src="../img/brand-awareness.png" alt="Icon 1">
            </div>
            <h2>Branding Design</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id urna felis.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img src="../img/analytics.png" alt="Icon 2">
            </div>
            <h2>Pixel Perfect</h2>
            <p>Phasellus eget lacus ut ligula pretium vestibulum. Sed eget ex sed nisi bibendum fermentum.</p>
        </div>
        <div class="card">
            <div class="card-icon">
                <img src="../img/analytics.png" alt="Icon 3">
            </div>
            <h2>Strategy Analysis</h2>
            <p>Nam accumsan ligula eu arcu sodales, nec accumsan libero pulvinar.</p>
        </div>
    </div>
</section>




<!-- Top Selling Section -->
<section class="top-selling">
    <h3>Top Selling</h3>
    <h1>Our Featured Projects</h1>
    <div class="grid-container">
        <div class="grid-card">
            <img src="../img/chair.jpg" alt="Chair">
        </div>
        <div class="grid-card">
            <img src="../img/chair-leather.jpg" alt="Lamp">
        </div>
        <div class="grid-card">
            <img src="../img/hero.jpg" alt="Table">
        </div>
        <div class="grid-card">
            <img src="/path/to/image4.jpg" alt="Sofa">
        </div>
        <div class="grid-card">
            <img src="/path/to/image5.jpg" alt="Bookshelf">
        </div>
        <div class="grid-card">
            <img src="/path/to/image6.jpg" alt="Desk">
        </div>
        <div class="grid-card">
            <img src="/path/to/image7.jpg" alt="Armchair">
        </div>
        <div class="grid-card">
            <img src="/path/to/image8.jpg" alt="Cupboard">
        </div>
        <div class="grid-card">
            <img src="/path/to/image9.jpg" alt="Vase">
        </div>
    </div>
</section>

<section class="business-results">
    <h3>Business Results</h3>
    <h1>The Growing Number</h1>
    <div class="items-container">
        <div class="item">
            <p>610+</p>
            <p>Projects</p>
        </div>
        <div class="item">
            <p>11.6K</p>
            <p>Happy Customers</p>
        </div>
        <div class="item">
            <p>1000+</p>
            <p>Working Hours</p>
        </div>
        <div class="item">
            <p>1000+</p>
            <p>Launched Startups</p>
        </div>
    </div>
</section>



<!-- Team Member Section -->
<section class="team-member">
    <h3>Team Member</h3>
    <h1>Our Team Members</h1>
    <div class="team-cards-container">
        <div class="team-card">
            <div class="team-card-image">
                <img src="../img/woman-avatar.png" alt="Team Member 1">
            </div>
            <h2>John Doe</h2>
            <h4>CEO</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id urna felis.</p>
            <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-image">
                <img src="../img/user.png" alt="Team Member 2">
            </div>
            <h2>Jane Smith</h2>
            <h4>CTO</h4>
            <p>Phasellus eget lacus ut ligula pretium vestibulum. Sed eget ex sed nisi bibendum fermentum.</p>
            <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-image">
                <img src="../img/man.png" alt="Team Member 3">
            </div>
            <h2>Emily Johnson</h2>
            <h4>CMO</h4>
            <p>Nam accumsan ligula eu arcu sodales, nec accumsan libero pulvinar.</p>
            <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        <div class="team-card">
            <div class="team-card-image">
                <img src="../img/hero.jpg" alt="Team Member 4">
            </div>
            <h2>Michael Brown</h2>
            <h4>CFO</h4>
            <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
            <div class="social-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="hiring">
    <div class="hiring-content">
        <h2>Hiring Process</h2>
        <h1>The Recruitment Process</h1>
        <p>Your work is going to fill a large part of your life, the only way to be satisfied is to do what you believe. Responsive design is an approach that suggests the design to the behavior.</p>
        <button class="play-button">Play Video</button>
    </div>
</section>




<section class="testimonials">
    <h2>Client Testimonials</h2>
    <h3>What Our Customers Say</h3>
    <div class="testimonials-container">
        <div class="testimonial">
            <div class="testimonial-header">
                <img src="../img/hero.jpg" alt="Krista John">
            </div>
            <p>Consectetur sit amet lorem ipsum dolor adipisicing elit. Quia fuga, neque recusandae odio debitis aperiam obcaecat.</p>
            <div class="rating">★★★★★</div>
            <h4>Krista John</h4>
            <p class="role">Programmer Analyst</p>
        </div>
        <div class="testimonial">
            <div class="testimonial-header">
                <img src="../img/hero.jpg" alt="Luchhi Cina">
            </div>
            <p>Consectetur sit amet lorem ipsum dolor adipisicing elit. Quia fuga, neque recusandae odio debitis aperiam obcaecat.</p>
            <div class="rating">★★★★★</div>
            <h4>Luchhi Cina</h4>
            <p class="role">Applications Analyst</p>
        </div>
        <div class="testimonial">
            <div class="testimonial-header">
                <img src="../img/hero.jpg" alt="Sophiya Cally">
            </div>
            <p>Consectetur sit amet lorem ipsum dolor adipisicing elit. Quia fuga, neque recusandae odio debitis aperiam obcaecat.</p>
            <div class="rating">★★★★★</div>
            <h4>Sophiya Cally</h4>
            <p class="role">Systems Architect</p>
        </div>
    </div>
</section>




<section class="footer-section">
    <div class="footer-wrapper">
        <div class="footer-column">
            <h3>About Company.</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
        <div class="footer-column">
            <h3>Resources</h3>
            <ul>
                <li><a href="#">Architectural Styles</a></li>
                <li><a href="#">Creative Design</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Startup Agency</a></li>
                <li><a href="#">Tech News Daily</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Company</h3>
            <ul>
                <li><a href="#">Apps Store</a></li>
                <li><a href="#">Google Store</a></li>
                <li><a href="#">Latest News</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
        </div>
    </div>
</section>